@font-face {font-family:"Cardo"; src:url("font/cardo.ttf");}
@font-face {font-family:"Josefin Sans Std Light"; src:url("font/josefin_sans_std_light.otf");}

* {padding:0; margin:0; outline:none;}
html {background:#edf6f9; font-size:12px; font-family:sans-serif;}

div#antet {height:100px; background:url('/imagini/antet.png') no-repeat center center;}

div#centru_antet {width:1000px; margin:0 auto;}
div#centru_antet h1 {display:block; width:175px; height:49px; margin:0 auto; padding-top:10px; text-indent:-9999px; background:url('/imagini/titlu.png') no-repeat left bottom;}
div#centru_antet h1 a {display:block; width:175px; height:49px;}
div#centru_antet h1:hover {background:url('/imagini/titlu.png') no-repeat right bottom;}
div#centru_antet p {text-align:center; color:#91bae1;}

div#timp {margin:5px; padding:4px 9px;  height:26px; background:#b3c7eb; float:left; -moz-border-radius:4px;}
div#timp p {line-height:25px; font-size:10px; color:#000;}

div#corp {background:#edf6f9 url('/imagini/orizontal.png') repeat-y center center;}

div#continut {width:1000px; margin:0 auto; background:#fff;}
div#continut {clear:both;}

div#textul {text-align:justify; font-size:15px; font-family:Cardo, sans-serif; word-spacing:3px; clear:both; padding:10px; border:1px solid #6e8feb; border-top:0; line-height:2;}
div#textul h3 {margin: 10px 0; font-size:36px; font-family:"Josefin Sans Std Light", sans-serif; font-weight:normal; text-align:center;}
div#textul a {white-space:nowrap;color:#318014; text-decoration:none; margin:0 -3px; padding:0 3px;}
div#textul a:hover {color:#FFF; background:#85C72E; -moz-border-radius:5px;}
div#textul div.c2 {-moz-column-count:2; -moz-column-gap:40px;}
div#textul div.c3 {-moz-column-count:3; -moz-column-gap:40px;}
div#textul div.c4 {-moz-column-count:4; -moz-column-gap:40px;}
div#textul fieldset {padding:10px 0 0 0; margin: 15px 0 10px 0; background:#b3c7eb; border:0; -moz-border-radius:10px;}
div#textul fieldset legend {display:none; /*margin-left:15px; padding:4px; font-weight:bold;*/}
div#textul fieldset ul {padding:15px; list-style:none;}
div#textul fieldset ul li {padding-bottom:10px;}
div#textul fieldset ul li label {display:block; width:150px; float:left; margin-right:15px; text-align:right;}
div#textul fieldset ul li label:after {content:": ";}
div#textul fieldset ul li input {width:300px; padding:3px 1px 0 1px; margin:0; border:1px solid #8baddb; height:18px; background-color:#e0e9f9; -moz-border-radius:4px;}
div#textul fieldset ul li span {padding:0 10px; color:#D33; font-weight:bold;}
div#textul ul {padding:0 15px;}

table.orar {border-collapse:collapse; width:100%; margin:0 auto;}
table.orar td {border:1px #777 solid; padding:0 4px;}
table.orar thead td {text-align:center; font-family:"Josefin Sans Std Light", sans-serif; font-size:19px; line-height:1.4;}

div#subsol {height:118px; background:url('/imagini/subsol.png') no-repeat center center;}
div#subsol div {width:1000px; margin:0 auto; height:47px; background:#e0e9f9;}
div#subsol p {text-align:center; /*color:#91bae1;*/ color:#6e8feb; line-height:47px; font-family:"Josefin Sans Std Light", sans-serif; font-size:16px;}

div#meniu {float:left; width:100%; height:30px; background:url('/imagini/meniu.png') repeat-x; font-weight:bold; font-size:13px; /*overflow:hidden;*/ position:relative;}
div#meniu ul {float:left; position:relative; left:50%; list-style:none;}
div#meniu ul li {display:block; float:left; position:relative; right:50%;}
div#meniu ul li:hover {background:#FFF; -moz-border-radius:10px 10px 0 0; border:1px solid #6e8feb; border-bottom:0; margin:-1px -1px 0 -1px;}
div#meniu ul li.activ {background:#FFF; margin:-4px -1px 0 -1px; padding-top:3px; border:1px solid #6e8feb; border-bottom:0; -moz-border-radius:10px 10px 0 0;}
div#meniu ul li.activ a {color:#1a3fa8;}
div#meniu ul li a {display:block; padding:0 10px; height:30px; line-height:30px; text-decoration:none; color:#fff;}
div#meniu ul li a:hover {color:#1a3fa8;}

div#casuta_auten {background:#b3c7eb; overflow:auto; float:right; padding:4px; margin:5px; -moz-border-radius:6px;}
div#casuta_auten form {float:left;}
div#casuta_auten a {border-left:1px solid #8baddb; display:block; float:left; padding:4px; text-decoration:none; color:#318014;}
div#casuta_auten span {display:block; float:left; padding:4px; color:#000;}
div#casuta_auten a:hover {cursor:pointer; text-decoration:underline;}
div#casuta_auten fieldset {border:0;}
div#casuta_auten ul {list-style:none;}
div#casuta_auten li {float:left; margin:1px;}
div#casuta_auten input {padding:3px 1px 0 1px; margin:0; border:1px solid #8baddb; height:18px; width:90px; background-color:#e0e9f9; -moz-border-radius:4px; font-size:10px;}
div#casuta_auten input[type=submit] {background:none; padding:3px; border:0; width:auto; text-decoration:none; display:block; color:#318014; font-size:12px; cursor:pointer;}
div#casuta_auten input[type=submit]:hover {text-decoration:underline;}


div.erori {padding:10px; background:#FA8E78; -moz-border-radius:10px;}
div.erori ul {margin:0 20px;}
